<div class="location">
  <form class="form-signin">
    <div class="background text-center">
      <div class="resizeImage ml-5 pl-3">
        <img class="mt-5" src="../../assets/Morning-Coffee-Logo.png" alt="" />
      </div>
      <div class="container">
        <h1 class="h3 font-weight-normal mt-3">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required
          autofocus
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <div class="d-inline-flex">
          <button type="button" class="btn btn-primary mr-1">Login</button>
          <button type="button" class="btn btn-secondary">Register</button>
        </div>
        <p class="text-muted pb-5">&copy; Steven Buglione 2020</p>
      </div>
    </div>
  </form>
</div>
